In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import types
import pymysql
pymysql.install_as_MySQLdb()

import os
import sys
sys.path
sys.path.append('../')
sys.path.append('spotify-chart')
from connections import password
import charts

## Top 200 Daily

In [3]:
# US
daily_charts = charts.get_charts('2017-01-01', '2019-02-28', freq = 'daily', region = 'us')

 19%|███████████████                                                                 | 149/789 [03:54<16:58,  1.59s/it]

<_io.StringIO object at 0x0000021F03070558>

 19%|███████████████▏                                                                | 150/789 [03:55<13:23,  1.26s/it]

<_io.StringIO object at 0x0000021F03066DC8>

 19%|███████████████▍                                                                | 152/789 [03:57<12:13,  1.15s/it]

<_io.StringIO object at 0x0000021F03066DC8>

100%|████████████████████████████████████████████████████████████████████████████████| 789/789 [21:24<00:00,  1.61s/it]

In [50]:
top_200_daily = pd.DataFrame(daily_charts)
top_200_daily.rename(columns = {'Unnamed: 0':'Position', 
                                'Unnamed: 1': 'Track Name', 
                                'Unnamed: 2':'Artist', 
                                'Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.':'Streams', 
                                'Unnamed: 4':'URL'}, inplace = True)
top_200_daily.head()

,Position,Track Name,Artist,Streams,URL,date
0,Position,Track Name,Artist,Streams,URL,2017-01-01
1,1,Bad and Boujee (feat. Lil Uzi Vert),Migos,1371493,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2017-01-01
2,2,Fake Love,Drake,1180074,https://open.spotify.com/track/343YBumqHu19cGo...,2017-01-01
3,3,Starboy,The Weeknd,1064351,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2017-01-01
4,4,Closer,The Chainsmokers,1010492,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2017-01-01

In [51]:
# top_200_daily.drop(columns = 'Unnamed: 0', inplace = True)
# top_200_weekly.rename(columns = {'Unnamed: 0':'index'}, inplace = True)
top_200_daily.drop(0, inplace = True)
top_200_daily.rename(columns = {'Track Name':'Track'}, inplace = True)

top_200_daily['ID'] = top_200_daily['URL'].str.split('/', expand = True)[4]

top_200_daily.reset_index(inplace = True)

# top 200 db export
top_200_db = top_200_daily[['Position', 'date', 'ID']]
top_200_db.head()

  Position       date                      ID
0        1 2017-01-01  4Km5HrUvYTaSUfiSGPJeQR
1        2 2017-01-01  343YBumqHu19cGoGARUTsd
2        3 2017-01-01  5aAx2yezTd8zXrkmtKl66Z
3        4 2017-01-01  7BKLCZ1jbUBVqRi2FVlTVw
4        5 2017-01-01  6fujklziTHa8uoM5OQSfIo

In [3]:
# Global
global_daily_charts = charts.get_charts('2017-01-01', '2019-02-28', freq = 'daily', region = 'global')

  7%|█████▍                                                                           | 53/789 [01:39<22:59,  1.87s/it]

<_io.StringIO object at 0x000001A32830B288>

 19%|███████████████                                                                 | 149/789 [04:24<16:28,  1.55s/it]

<_io.StringIO object at 0x000001A32830B288>

 19%|███████████████▏                                                                | 150/789 [04:25<13:03,  1.23s/it]

<_io.StringIO object at 0x000001A32830B0D8>

 19%|███████████████▍                                                                | 152/789 [04:27<12:41,  1.19s/it]

<_io.StringIO object at 0x000001A32830B0D8>

100%|████████████████████████████████████████████████████████████████████████████████| 789/789 [24:08<00:00,  1.85s/it]

In [8]:
global_top_200_daily = pd.DataFrame(global_daily_charts)
global_top_200_daily.rename(columns = {'Unnamed: 0':'Position', 
                                'Unnamed: 1': 'Track Name', 
                                'Unnamed: 2':'Artist', 
                                'Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.':'Streams', 
                                'Unnamed: 4':'URL'}, inplace = True)

global_top_200_daily.drop(0, inplace = True)
global_top_200_daily.rename(columns = {'Track Name':'Track'}, inplace = True)

global_top_200_daily['ID'] = global_top_200_daily['URL'].str.split('/', expand = True)[4]

global_top_200_daily.reset_index(inplace = True)

# top 200 db export
global_top_200_daily.to_csv('global_top_200_daily.csv')
global_top_200_db = global_top_200_daily[['Position', 'date', 'ID']]
global_top_200_db.head()

  Position       date                      ID
0        1 2017-01-01  5aAx2yezTd8zXrkmtKl66Z
1        2 2017-01-01  7BKLCZ1jbUBVqRi2FVlTVw
2        3 2017-01-01  4pdPtRcBmOSQDlJ3Fk945m
3        4 2017-01-01  5knuzwU65gJK7IF5yJsuaW
4        5 2017-01-01  1xznGGDReH1oQq0xzbwXa3

## Viral 50 Daily

In [10]:
viral_charts = charts.get_charts('2017-01-01', '2019-02-28', chart = 'viral', freq = 'daily', region = 'us')

 20%|███████████████▌                                                                | 154/789 [04:27<18:13,  1.72s/it]

<_io.StringIO object at 0x0000021F02FB69D8>

 26%|████████████████████▌                                                           | 203/789 [06:06<17:40,  1.81s/it]

<_io.StringIO object at 0x0000021F0740C9D8>

 94%|███████████████████████████████████████████████████████████████████████████▎    | 743/789 [22:34<01:19,  1.72s/it]

<_io.StringIO object at 0x0000021F02FB69D8>

 94%|███████████████████████████████████████████████████████████████████████████▍    | 744/789 [22:34<01:00,  1.35s/it]

<_io.StringIO object at 0x0000021F07408318>

100%|████████████████████████████████████████████████████████████████████████████████| 789/789 [23:51<00:00,  1.72s/it]

In [52]:
viral_50_daily = pd.DataFrame(viral_charts)
viral_50_daily.head()

,Position,Track Name,Artist,URL,date
0,1,Fill Me In - AFTR:HRS Mixcut,Loud Luxury,https://open.spotify.com/track/1Th5b8AsauED9F7...,2017-01-01
1,2,Freedom! '90,George Michael,https://open.spotify.com/track/1D6nV9TPfMnWm7U...,2017-01-01
2,3,You,Manwolves,https://open.spotify.com/track/6F7CjVIrwk7PddQ...,2017-01-01
3,4,Faith - Remastered,George Michael,https://open.spotify.com/track/0HEmnAUT8PHznIA...,2017-01-01
4,5,Father Figure - Remastered,George Michael,https://open.spotify.com/track/0L0T4tMAaGqLgIV...,2017-01-01

In [53]:
# viral_50_daily.drop(columns = 'Unnamed: 0', inplace = True)
# top_200_weekly.rename(columns = {'Unnamed: 0':'index'}, inplace = True)
viral_50_daily.rename(columns = {'Track Name':'Track'}, inplace = True)

viral_50_daily['ID'] = viral_50_daily['URL'].str.split('/', expand = True)[4]

viral_50_daily.reset_index(inplace = True)

# top 200 db export
viral_50_db = viral_50_daily[['Position', 'date', 'ID']]
viral_50_db.head()

   Position       date                      ID
0         1 2017-01-01  1Th5b8AsauED9F7pGv8Yxi
1         2 2017-01-01  1D6nV9TPfMnWm7UdVsDVfI
2         3 2017-01-01  6F7CjVIrwk7PddQUsoPmoo
3         4 2017-01-01  0HEmnAUT8PHznIAAmVXqFJ
4         5 2017-01-01  0L0T4tMAaGqLgIVj1MOj9t

In [4]:
# Global
global_viral_charts = charts.get_charts('2017-01-01', '2019-02-28', chart = 'viral', freq = 'daily', region = 'global')

 14%|███████████▎                                                                    | 112/789 [03:23<19:04,  1.69s/it]

<_io.StringIO object at 0x000001A316BD8EE8>

 15%|████████████▏                                                                   | 120/789 [03:36<18:57,  1.70s/it]

<_io.StringIO object at 0x000001A316BD8EE8>

 17%|█████████████▉                                                                  | 137/789 [04:04<18:39,  1.72s/it]

<_io.StringIO object at 0x000001A32830B288>

 17%|█████████████▉                                                                  | 138/789 [04:04<14:43,  1.36s/it]

<_io.StringIO object at 0x000001A316BD8EE8>

 18%|██████████████                                                                  | 139/789 [04:05<11:49,  1.09s/it]

<_io.StringIO object at 0x000001A32830B288>

 18%|██████████████▏                                                                 | 140/789 [04:05<10:00,  1.08it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 18%|██████████████▎                                                                 | 141/789 [04:06<08:30,  1.27it/s]

<_io.StringIO object at 0x000001A32830B288>

 18%|██████████████▍                                                                 | 142/789 [04:06<07:27,  1.45it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 18%|██████████████▍                                                                 | 143/789 [04:07<06:43,  1.60it/s]

<_io.StringIO object at 0x000001A32830B288>

 18%|██████████████▌                                                                 | 144/789 [04:07<05:46,  1.86it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 18%|██████████████▋                                                                 | 145/789 [04:07<05:31,  1.94it/s]

<_io.StringIO object at 0x000001A32830B288>

 19%|██████████████▊                                                                 | 146/789 [04:08<05:39,  1.89it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 19%|██████████████▉                                                                 | 147/789 [04:08<05:30,  1.94it/s]

<_io.StringIO object at 0x000001A32830B288>

 19%|███████████████                                                                 | 148/789 [04:09<05:21,  1.99it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 19%|███████████████                                                                 | 149/789 [04:09<05:15,  2.03it/s]

<_io.StringIO object at 0x000001A32830B288>

 19%|███████████████▏                                                                | 150/789 [04:10<06:09,  1.73it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 19%|███████████████▎                                                                | 151/789 [04:11<05:44,  1.85it/s]

<_io.StringIO object at 0x000001A32830B288>

 19%|███████████████▍                                                                | 152/789 [04:11<04:58,  2.14it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 19%|███████████████▌                                                                | 153/789 [04:11<04:58,  2.13it/s]

<_io.StringIO object at 0x000001A32830B288>

 20%|███████████████▌                                                                | 154/789 [04:12<04:58,  2.13it/s]

<_io.StringIO object at 0x000001A316BD8EE8>

 26%|████████████████████▌                                                           | 203/789 [05:35<16:51,  1.73s/it]

<_io.StringIO object at 0x000001A32830B288>

 75%|███████████████████████████████████████████████████████████▉                    | 591/789 [16:49<05:50,  1.77s/it]

<_io.StringIO object at 0x000001A316BD8EE8>

 75%|████████████████████████████████████████████████████████████                    | 592/789 [16:50<04:38,  1.42s/it]

<_io.StringIO object at 0x000001A32827DC18>

 94%|███████████████████████████████████████████████████████████████████████████▎    | 743/789 [21:13<01:18,  1.70s/it]

<_io.StringIO object at 0x000001A316BD8EE8>

 94%|███████████████████████████████████████████████████████████████████████████▍    | 744/789 [21:13<01:01,  1.37s/it]

<_io.StringIO object at 0x000001A32827DC18>

100%|████████████████████████████████████████████████████████████████████████████████| 789/789 [22:32<00:00,  1.75s/it]

In [9]:
global_viral_50_daily = pd.DataFrame(global_viral_charts)

global_viral_50_daily.rename(columns = {'Track Name':'Track'}, inplace = True)

global_viral_50_daily['ID'] = global_viral_50_daily['URL'].str.split('/', expand = True)[4]

global_viral_50_daily.reset_index(inplace = True)

# top 200 db export
global_viral_50_daily.to_csv('global_viral_50_daily.csv')
global_viral_50_db = global_viral_50_daily[['Position', 'date', 'ID']]
global_viral_50_db.head()

   Position       date                      ID
0         1 2017-01-01  0EPxmvsG1BY5td4aTOkWBF
1         2 2017-01-01  4jDmJ51x1o9NZB5Nxxc7gY
2         3 2017-01-01  1D6nV9TPfMnWm7UdVsDVfI
3         4 2017-01-01  0HEmnAUT8PHznIAAmVXqFJ
4         5 2017-01-01  1ZgfAxHQCXLt8o1VXEHHAt

## Unique Songs

In [42]:
top_200_db.tail()

    Position       date                      ID
196      196 2019-02-28  7ycWLEP1GsNjVvcjawXz3z
197      197 2019-02-28  0FQhAHyHGsrbSHvDURmFPn
198      198 2019-02-28  2cYnZNzFRFK0H7vSNxPsUq
199      199 2019-02-28  5Gu0PDLN4YJeW75PpBSg9p
200      200 2019-02-28  1zB4vmk8tFRmM9UULNzbLB

In [44]:
unique_viral = viral_50_daily.drop_duplicates('ID')[['ID', 'Track', 'Artist']]
unique_top = top_200_daily.drop_duplicates('ID')[['ID', 'Track', 'Artist']]


unique_songs = pd.concat([unique_viral, unique_top], ignore_index = True)
unique_songs = unique_songs.drop_duplicates('ID')
unique_songs.head()

                       ID                         Track          Artist
0  1Th5b8AsauED9F7pGv8Yxi  Fill Me In - AFTR:HRS Mixcut     Loud Luxury
1  1D6nV9TPfMnWm7UdVsDVfI                  Freedom! '90  George Michael
2  6F7CjVIrwk7PddQUsoPmoo                           You       Manwolves
3  0HEmnAUT8PHznIAAmVXqFJ            Faith - Remastered  George Michael
4  0L0T4tMAaGqLgIVj1MOj9t    Father Figure - Remastered  George Michael

## Import to Database from CSV Files

In [27]:
# global_top_200_daily = pd.read_csv('global_top_200_daily')
# global_viral_50_daily = pd.read_csv('global_viral_50_daily.csv')
# top_200_daily = pd.read_csv('top_200_daily.csv')
# viral_50_daily = pd.read_csv('viral_50_daily.csv')

# Export Song Tables to SQL

In [2]:
connection_string = (f"root:{password}@localhost")

# engine = create_engine(f"mysql://{connection_string}")
engine.execute("DROP DATABASE IF EXISTS spot_db")
engine.execute("CREATE DATABASE spot_db")
engine.execute("ALTER DATABASE spot_db CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci")
# engine.execute("ALTER TABLE indeed_resumes CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
engine = create_engine(f"mysql://{connection_string}/spot_db?charset=utf8mb4")

In [55]:
# Top 200 Daily
engine.execute("USE spot_db")
top_200_db.to_sql(
    name = 'top_200_daily', con = engine,
    if_exists = 'replace', 
    chunksize = 75)
with engine.connect() as con:
    con.execute('ALTER TABLE `top_200_daily` ADD PRIMARY KEY (`Index`);')

In [47]:
# Viral 50 Daily
engine.execute("USE spot_db")
viral_50_db.to_sql(
    name = 'viral_50_daily', con = engine,
    if_exists = 'replace')
with engine.connect() as con:
    con.execute('ALTER TABLE `viral_50_daily` ADD PRIMARY KEY (`Index`);')

In [56]:
# Unique Songs
engine.execute("USE spot_db")
unique_songs.to_sql(
    name = 'songs', con = engine,
    if_exists = 'replace', 
    dtype={'ID': types.VARCHAR(255)})
with engine.connect() as con:
    con.execute('ALTER TABLE `songs` ADD PRIMARY KEY (`ID`);')